*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgb(49, 47, 47);
  height: 100vh;
  width: 100vw;
}

.light-balls{
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 10vh;
  width: 100vw;
}

.ball{
  display: flex;
  height: 50px;
  width: 30px;
  border-radius: 50%;
  background-color: white;
}

.ball:before {
  position: relative;
  content: '';
  height: 15px;
  width: 15px;
  left: 7.5px;
  top: -15px;
  margin: 0;
  padding: 0;
  display: block;
  background: rgb(68, 53, 73);
  border-radius: 2px;
  display: inline-block;
  border-bottom: 2px solid rgb(97, 81, 107);
}

.red{
  background-color: rgb(187, 30, 30);
  animation: glow-1 1s infinite;
  animation-delay: 0.5s;
}

@keyframes glow-1 {
  0%,
  100% {
    box-shadow: 0 0 20px 5px rgb(187, 30, 30);
  }
  50% {
    box-shadow: none;
  }
}

.yellow{
    background-color: rgb(240, 227, 48);
    animation: glow-2 1s infinite;
}

@keyframes glow-2 {
  0%,
  100% {
    box-shadow: 0 0 20px 5px rgb(240, 227, 48);
  }
  50% {
    box-shadow: none;
  }
}

.blue{
  background-color: rgb(40, 94, 209);
  animation: glow-3 1s infinite;
  animation-delay: 0.5s;
}

@keyframes glow-3 {
  0%,
  100% {
    box-shadow: 0 0 20px 5px rgb(40, 94, 209);
  }
  50% {
    box-shadow: none;
  }
}

.green{
  background-color: rgb(30, 187, 30);
  animation: glow-4 1s infinite;
}

@keyframes glow-4 {
  0%,
  100% {
    box-shadow: 0 0 20px 5px rgb(30, 187, 30);
  }
  50% {
    box-shadow: none;
  }
}



.title{
  display: flex;
  
}

h1{
  color: red ;
}